.timeline-container {
  display: flex;
  gap: 10px;
  border:1px solid red;
  margin-top: 16px
}
.left {
  border: 1px solid;
  width: 200px;
  padding: 8px;
  height: 100vh;
}

.right {
  border: 1px solid;
  width: 200px;
  padding: 8px;

}

.center {
  border: 1px solid;
  width: 600px;
  padding: 8px;
}